.business {
    padding-top: 90px;
}

.business .titlepage span {
    color: #0891f8;
    font-size: 30px;
    font-family: 'Baloo Chettan', cursive;
    text-transform: uppercase;
    line-height: 37px;
    padding-bottom: 10px;
    display: inline-block;
}

.business .titlepage h2 {
    color: #272f43;
    font-weight: normal;
}

.business .business_box {
    text-align: center;
}

.business .business_box figure {
    margin: 0;
}

.business .business_box figure img {
    width: 100%;
}

.business .business_box p {
    color: #000;
    font-size: 17px;
    line-height: 28px;
    padding: 35px 0px;
}

.business .business_box .read_more {
    background: #252525;
    color: #fff;
}

.business .business_box .read_more:hover {
    background: #0891f8;
}